.icon-zoom-in
{
  position:relative;
  left:23px;
  top:-8px;
  z-index:999;
}
.input-append input
{
  height:30px;
  padding-left:25px;
}

.flip {
  -webkit-perspective: 800;
   width: 750px;
   height: 390px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 50px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background-image: url('img/slide-1.png');
    color: black;
    cursor: pointer;
    line-height: 40px;
    padding-top: 80px;
    padding-right: 90px;
    padding-left: 90px;}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background-image: url('img/slide-1.png');
    color: black;
    cursor: pointer;
    line-height: 40px;
    padding-top: 120px;
    padding-right: 90px;
    padding-left: 90px;

}

.set{
  background-color: white;
  padding: 4px;
  margin: 4px;
}
#feedback{
  text-align: center;
  font-size: 2em;
  color: #00ff00;
  margin: 0 auto;
  width: 750px;
  background-color: rgba(255,255,255,0.7);
}

.brand{
  font-size: 4em;
}

.btn {
  background: transparent;
  border: none;
}

.toggle{
    -webkit-perspective: 800;
   width: 750px;
   height: 0px;
    position: relative;
    margin: 50px auto;
    z-index: 4;
}

#goBack{
  position: absolute;
  margin-top: 165px;
  margin-left: 10px;
  z-index: 5;
}

#goNext{
  position: absolute;
  margin-top: 165px;
  margin-left: 665px;
  z-index: 5;
}

.input-group{
  margin-left: 50px;
  margin-right: 50px;
  height: 35px;
}

.icon{
  width: 27px;
  height: 27px;
}

.searching{
  max-height: 30px !important;
}

.form-control{
  height: 41px;
}

.set{
  background-color: rgba(255,255,255,0.9);
  display: block;
  width: 100% !important; 
  margin-top: 5px;
  overflow: hidden;
}

.results{
  margin-left: 47px;
  margin-right: 55px;
  overflow: hidden;
}

.setTitle{
  font-size: 18px;
}

.logo{
  height: 90px;
}

body{
  font-family: "Bookman Old Style";
}

.feedbackitem{
  margin: 30px;
}

.footer{
  position: fixed;
  width: 100%;
  font-size: 30px;
  background-color: transparent;
  color: #FFF;
  bottom: 0;
  padding-bottom: 50px;
  z-index:0;
}
